{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Original FileName</th>
                <th>Width</th>
                <th>Height</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>
                    <a href="{{ path('image_variant_show', {
                        'id'      : image.id,
                        'variant' : 'large',
                        'filename': image.originalFilenameReal
                        }) }}">
                        <img src="{{ path('image_variant_show', {
                            'id'      : image.id,
                            'variant' : 'thumbnail',
                            'filename': image.originalFilenameReal
                            }) }}" alt="{{ image.originalFilenameReal }}" />
                    </a>
                </td>

                <td>{{ image.originalFilenameReal }}</td>
                <td>{{ image.width }}</td>
                <td>{{ image.height }}</td>
                <td>{{ image.description }}</td>
                <td>{{ image.createdAt ? image.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
