{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    {% if app.user %}
         {{ include('image/_form.html.twig') }}
    {% endif %}

    <div class="images-container">
        <span class="note">(Total Images: {{ images|length }})</span>
        {% set date_set = null %}
        {% for image in images|reverse %}
            {% set new_date_set = image.createdAt|date('Y-m-d') %}
            {% if new_date_set != date_set %}
                {% if date_set %}
                    </ul>
                {% endif %}

                    <h2>{{ image.createdAt|date('j') }}<sup>{{
                        image.createdAt|date('S') }}</sup>
                           {{ image.createdAt|date('F Y') }}
                    </h2>

                {% set date_set = new_date_set %}
                <ul class="thumbnails lazy-load-images">
            {% endif %}
                    <li>
                        <a href="{{ path('image_variant_show', {
                            'id'      : image.id,
                            'variant' : 'large',
                            'filename': image.originalFilename
                            }) }}?cb=1">
                            <img src="/pics/loading.png"
                                 data-src="{{ path('image_variant_show', {
                                'id'      : image.id,
                                'variant' : 'thumbnail',
                                'filename': image.originalFilename
                                }) }}" alt="{{ image.originalFilename }}" />
                        </a>
                        <a href="{{ path('relative_alias_edit', {
                                'relativeUser': image.userId.id
                            }) }}" class="relation">

                            <span class="alias">{{ relationName(image.userId) }}</span>
                            <span class="username">({{ image.userId.username }})<span>
                        </a>
                    </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
